
.hero_slide { height: 60vh; position: relative;   }
.hero_slide div {display: flex; align-items: center; justify-content: center; flex-direction: column;  padding-top: 1.5rem; }
.hero_slide div h1 { font-size: 42px; font-weight: bold; color: #fff;  }