
.who_we_are { background: #3e827c; text-align: center; padding: 1rem 0.5rem;  color: #fff; }
.who_we_are h1 { font-family: 'Almarai' , sans-serif; font-size: 32px; font-weight: bold; }
.who_we_are p { margin-top: 8px; font-family: 'Almarai' , sans-serif;  font-weight: lighter; font-size: 16px; line-height: 28px; }
.who_we_are div { max-width: 900px; margin: 0 auto; }
.social_links .MuiSvgIcon-root { margin: 0 8px; }

@media (max-width: 700px) {
    .who_we_are h1 { font-size: 25px; }
    .who_we_are p { font-size: 13px; line-height: 23px; padding: 0 1.5rem; }
}